/* {xs} */
body {
    background-color: #f5f8fa;
    font-family: "Raleway", sans-serif;
    padding: 50px 0px 50px 140px;
}
body.fullwidth {
    padding-left: 0;
}
.appnav-default {
    background-color: white;
    border: 1px solid transparent;
}
.appnav-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 140px;
    height: 100%;
    padding: 6rem 0.5rem 0.5rem 0.5rem;
    box-shadow: inset 1px 0 0 rgba(255,255,255,.15), 1px 0 5px rgba(0,0,0,.075);
}
.appnav-bottom {
    min-height: auto;
}
.nav-submenu > ul {
    padding-left: 1rem;
}
.app-breadcrumb {
    margin-bottom: auto;
    background-color: white;
}
#main {padding:0.5rem;}
/* /{xs} */

/* {sm} */
@media (min-width: 768px) {

}
/* /{sm} */

/* {md} */
@media (min-width: 992px) {

}
/* /{md} */

/* {lg} */
@media (min-width: 1200px) {

}
/* /{lg} */
